In [1]:
import pandas as pd

In [7]:
df = pd.read_excel("dic.xlsx")

In [8]:
df.drop(df.columns[6:],axis = 1,inplace=True)

In [9]:
df.head()

        1     2      3        4        5        6
0  Trials  Runs  Group  PlayerA  PlayerB  PlayerC
1       1     1    NaN        7        5        3
2       2     1    NaN        5        5        5
3       3     1    NaN        6        4        5
4       4     1    NaN        5        6        4

In [14]:
df.columns = df.iloc[0]

In [15]:
df.head()

0  Trials  Runs  Group  PlayerA  PlayerB  PlayerC
0  Trials  Runs  Group  PlayerA  PlayerB  PlayerC
1       1     1    NaN        7        5        3
2       2     1    NaN        5        5        5
3       3     1    NaN        6        4        5
4       4     1    NaN        5        6        4

In [18]:
df.drop([0],axis = 0,inplace=True)

In [19]:
df.head()

0 Trials Runs Group PlayerA PlayerB PlayerC
1      1    1   NaN       7       5       3
2      2    1   NaN       5       5       5
3      3    1   NaN       6       4       5
4      4    1   NaN       5       6       4
5      5    1   NaN       5       7       3

In [24]:
ll = list(df.loc[1, ['PlayerA', 'PlayerB','PlayerC']])

In [25]:
ll

[7, 5, 3]

In [27]:
a = str(ll)

In [29]:
a

'[7, 5, 3]'

In [30]:
a.

AttributeError: 'str' object has no attribute 'decode'

In [31]:
from ast import literal_eval

In [37]:

type(literal_eval(a))

list

In [35]:
aa = bytes(str(ll),"utf-8")

In [36]:
aa.decode()

'[7, 5, 3]'